---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}



{{#partial "full-width-page"}}

<div class="category-heading-block search-heading-block">
    <div class="block-wrap">
        <div class="left-block {{#if brand.image}}{{else}}full-width{{/if}}">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            <h1 class="page-heading">{{brand.name}}</h1>
        </div>
    </div>
</div>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
                {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}

<!-- {{{region name="brand_below_header"}}} -->
<div class="product-list-wrap">
    <div class="container">
        <div class="page">
            <aside class="page-sidebar" id="faceted-search-container">
                <div id="searchspring-sidebar"></div>
            </aside>

            <div class="page-content" id="product-listing-container">
                <div id="searchspring-content"></div>
            </div>
        </div>
    </div>
</div>

{{/partial}}
{{> layout/base}}
