<div class="tooltip-slider">
    <div class="tooltip-slide fade">
        {{!--<h6>Orders Placed by 5pm (EST) Ship the Same Day</h6>--}}
        <h6>All Orders Placed Before 4pm (ET) Ship the Same Day</h6>
        <div class="tooltip adjustTooltip">
            <span class="tooltiptext">
                *Some Exclusions Apply
            </span>
        </div>
    </div>

    <div class="tooltip-slide fade">
        {{!--<h6>Orders Placed by 6pm (EST) Ship the Same Day</h6>--}}
        <h6>All Orders Placed Before 4pm (ET) Ship the Same Day</h6>
        <div class="tooltip adjustTooltip">
            <span class="tooltiptext">
                *Some Exclusions Apply
            </span>
        </div>
    </div>
</div>
