<div class="about-us-section">
    <div class="section-wrap">
        <div class="left-block">
            <div class="content-block">
                <strong>50 YEARS OF EXPERIENCE</strong>
                <h3>
                    The Leading Distributor of Contractor Pressure Washers and Paint Spraying Equipment
                </h3>
                <p>Established in the early 1960’s, our goal at SprayWell has always been to bring a little more joy to the world of spray equipment. With more than 50 years of experience, the team at SprayWell is dedicated to using our extensive industry knowledge to make our customers’ tough jobs a lot easier and a little more fun! SprayWell maintains a large inventory of well-known brands and guarantees same-day shipping on all orders placed before 5:00 p.m. Eastern Standard Time.</p>
                <a class="button button--primary" href="/about-us/">Learn More</a>
            </div>
        </div>

        <div class="right-block">
            <div class="review-block-outer">
                <div class="reviws-block" id="Reviws-block">
                    <div class="Reviw-block">
                        <div class="revie-block-inner">
                            <span class="review-star">
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                            </span>
                            <p class="review-text">"I am a satisfied customer! I am brand new to the power washing world and they have been extremely helpful guiding me in the right direction. I have sourced products from other places and they managed to help me put a rig together. Thanks to the super helpful staff!!!!"</p>
                            <h5 class="review-auth">Devin McCollum</h5>
                            <span class="verified-buyer"><i class="icon"><svg><use xlink:href="#icon-verified-icon"></use></svg></i>  Verified Buyer</span>
                        </div>
                    </div>
                    <div class="Reviw-block">
                        <div class="revie-block-inner">
                            <span class="review-star">
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                            </span>
                            <p class="review-text">"These guys are on top of things. From sprayer parts to soft wash stuff. Super fast shipping. Thanks"</p>
                            <h5 class="review-auth">David Strohm</h5>
                            <span class="verified-buyer"><i class="icon"><svg><use xlink:href="#icon-verified-icon"></use></svg></i>  Verified Buyer</span>
                        </div>
                    </div>
                    <div class="Reviw-block">
                        <div class="revie-block-inner">
                            <span class="review-star">
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                            </span>
                            <p class="review-text">"These guys are my go-to for titan paint spray equipment. Great website and great customer service."</p>
                            <h5 class="review-auth">Auther Lacy</h5>
                            <span class="verified-buyer"><i class="icon"><svg><use xlink:href="#icon-verified-icon"></use></svg></i>  Verified Buyer</span>
                        </div>
                    </div>
                    <div class="Reviw-block">
                        <div class="revie-block-inner">
                            <span class="review-star">
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                            </span>
                            <p class="review-text">"Timely deliver cross country. Beat others on price. Good follow up and support. They always seem to have what I’m looking for…recommend highly."
                            </p>
                            <h5 class="review-auth">Dale Snortland</h5>
                            <span class="verified-buyer"><i class="icon"><svg><use xlink:href="#icon-verified-icon"></use></svg></i>  Verified Buyer</span>
                        </div>
                    </div>
                    <div class="Reviw-block">
                        <div class="revie-block-inner">
                            <span class="review-star">
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                            </span>
                            <p class="review-text">"I’m very impressed with my experience. The process, shipping and delivery was fast. Not to mention, it was exactly what I ordered (yay). Thank you for a great experience and I look forward to future orders."</p>
                            <h5 class="review-auth">Timothy Betlewicz</h5>
                            <span class="verified-buyer"><i class="icon"><svg><use xlink:href="#icon-verified-icon"></use></svg></i>  Verified Buyer</span>
                        </div>
                    </div>
                    <div class="Reviw-block">
                        <div class="revie-block-inner">
                            <span class="review-star">
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                                <i class="icon"><svg><use xlink:href="#icon-star"></use></svg></i>
                            </span>
                            <p class="review-text">"My experience was great. They had the pump I needed, the website was easy to navigate and the delivery was quick. I installed the pump the day I received it and it worked great! Communication about the delivery tracking was well done also!"</p>
                            <h5 class="review-auth">David Hicks</h5>
                            <span class="verified-buyer"><i class="icon"><svg><use xlink:href="#icon-verified-icon"></use></svg></i>  Verified Buyer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-block">
                <img src="/product_images/uploaded_images/home-about-image.png" alt="">
            </div>
        </div>
    </div>
</div>
