<form action="{{product.add_to_wishlist_url}}" class="form form-wishlist" data-wishlist-add method="post">

    <ul aria-hidden="true" class="dropdown-menu" data-dropdown-content id="wishlist-dropdown" tabindex="-1">
        {{#if customer.wishlists}} {{#each customer.wishlists}}
        <li>
            <span class="button--with--span" data-hover="{{this.name}}">
                {{this.name}}
                <input class="button1 {{#if this.num_items '!==' '0'}}button--has-items{{/if}}" formaction="{{this.add_url}}&product_id={{../product.id}}"
                type="submit" value="">
            </span>
        </li>
        {{/each}} {{else}}
        <li>
            <input class="button" type="submit" data-hover="{{lang 'account.wishlists.add_to_default'}}" value="{{lang 'account.wishlists.add_to_default'}}">
        </li>
        {{/if}}
        {{#if customer}}
        <li>
            <a data-wishlist class="button" href="/wishlist.php?action=addwishlist&product_id={{product.id}}">{{lang 'account.wishlists.create_new'}}</a>
        </li>
        {{else}}
        <li>
          <a class="button" href="/wishlist.php">{{lang 'account.wishlists.create_new'}}</a>
        </li>
        {{/if}}
    </ul>
</form>
